<div class="container">
<form>
    <h2 class="heading-secondary">Login</h2>
    <div>
        <input class="input" name="email" id="email" type="email" placeholder="Enter your email address" />
    </div>
    <div>
        <input class="input" name="password" id="password" type="password" placeholder="Enter password " />
    </div>
    <p class="p-text">Dont have account? Sign up</p>
    <div class="btn-container">
        <button type="submit" class="btn">Login</button>
    </div>
</form>
</div>